<?xml version="1.0" encoding="UTF-8"?>
<plugin title="osha-dvt-ilo" loader="DEFAULT">
    <overlays>
        <overlay id="dataaccess" resourcebundle="api/messages/messages" loadatstart="false"></overlay>
    </overlays>
    <lifecycle-listener class="pt.webdetails.cpk.CpkLifecycleListener"/>
    <static-paths>
        <static-path url="/osha-dvt-ilo/static" localFolder="static"/>
        <static-path url="/osha-dvt-ilo/resources" localFolder="resources"/>
        <static-path url="/osha-dvt-ilo/seo" localFolder="static/custom/seo/"/>
    </static-paths>
    <content-types>
        <content-type>
            <title>European Agency for Safety &amp; Health at Work - Data Visualisation Tool - ILO</title>
            <description>ILO</description>
            <company name="" url="" logo=""></company>
            <icon-url>api/repos/osha-dvt-ilo/static/custom/img/favicon.ico</icon-url>
        </content-type>
    </content-types>
    <content-generator
        id="osha-dvt-ilo"
        title="DVT ILO"
        type="osha-dvt-ilo"
        class="pt.webdetails.cpk.CpkContentGenerator"/>
    <!-- Menu entry -->
    <menu-items>
        <!--<main-menu-item id="osha-dvt-ilo_main" anchor="tools-submenu" label="Older Workers Pilot" command="content/osha-dvt-ilo/" type="MENU_ITEM" how="LAST_CHILD"/>-->
    </menu-items>

    <external-resources>
        <!--<file context="osha-dvt-ilo">api/repos/osha-dvt-ilo/static/osha-dvt-ilo-require-js-cfg.js</file>-->
    </external-resources>
</plugin>
