<!-- home.html -->
<zylk-dashboard promises="promises" parameters="dashboard.parameters">
<div class="page-content">
		<!--HOME-->
		<section class="section-carrousel">
			<div class="ilo-container-carrousel container">
				<div id="carouselHome" class="carousel-home carousel slide" data-ride="carousel">
					<!-- Wrapper for slides -->
					<ul class="carousel-inner">

						<li ng-repeat="slide in slides" class="item" ng-class="{'active': $index == 0 }">
							<h2 data-ng-bind="slide.title"></h2>

							<div class="carousel-chart">
								<select class="currency-chart" data-ng-if="$first" data-ng-options="option as option.label for option in select track by option.id" data-ng-model="currency" data-ng-change="update()">
								</select>
								<picture>
									<source data-ng-srcset="{{slide.image2}}" alt="{{slide.title}}" media="(max-width: 600px)">
									<source data-ng-srcset="{{slide.image}}" alt="{{slide.title}}">
									<img data-ng-src="{{slide.image}}" title="{{i18n_home.largerImage}}" alt="{{slide.title}}"  data-toggle="modal" data-target="#modalChart" data-ng-click="modal('slide',$index)">
								</picture>
								<p class="carousel-note" data-ng-bind-html="slide.text"></p>
							</div>
						</li>
					</ul>
					<!-- Left and right controls -->
					<a class="left carousel-control" ng-non-bindable  href="#carouselHome" data-slide="prev">
						<i class="fa fa-chevron-left prev " aria-hidden="true"></i>
						<span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" ng-non-bindable  href="#carouselHome" data-slide="next">
						<i class="fa fa-chevron-right next" aria-hidden="true"></i>
						<span class="sr-only">Next</span>
					</a>
					<!-- Indicators -->
					<ol class="carousel-indicators">
						<li ng-repeat="slide in slides" data-target="#carouselHome" data-slide-to="{{$index}}" ng-class="{'active': $index == 0 }"></li>
					</ol>
				</div>
			</div>
		</section>

		<section class="section-first-home">
			<div class="container">
				<h3 data-ng-bind="chartDeath.title"></h3>
				<div class="chart-section-first">
					<h4 data-ng-bind="i18n.L13"></h4>
					<p data-ng-bind="i18n.L26"></p>
					<img data-ng-src="{{chartDeath.image}}" title="{{i18n_home.largerImage}}" alt="{{chartDeath.title}}" data-ng-click="modal('chart',1)" data-toggle="modal" data-target="#modalChart">
					<p data-ng-bind="chartDeath.text"></p>
					<p data-ng-bind="i18n.L30"></p>
					<img data-ng-src="{{chartDaly.image}}" title="{{i18n_home.largerImage}}" alt="{{chartDaly.title}}" data-ng-click="modal('chart',2)" data-toggle="modal" data-target="#modalChart">
				</div>
				<p data-ng-bind="chartDaly.text"></p>
				<p class="see-more"><a data-ui-sref='#' data-ng-bind="i18n.L34"></a></p>
			</div>
		</section>

		<div class="compare-buttons">
			<ul class="compare-buttons-list  list-inline container">
				<li><a data-ui-sref='#' data-ng-bind="i18n.L35"></a></li>
				<!-- TO BE INCLUDED WITH COUNTRIES COMPARISON PAGE
				<li><a data-ui-sref='countries-comparison' data-ng-bind="i18n.L36"></a></li>
				-->
			</ul>
		</div>
</div>
<div class="modal fade" id="modalChart" tabindex="-1" role="dialog" aria-labelledby="modalChart" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<p class="modal-title" data-ng-bind="modalData.title"></p>
			</div>
			<div class="modal-body">
				<picture>
					<source data-ng-srcset="{{modalData.image2}}" alt="{{modalData.title}}" media="(max-width: 600px)">
					<source data-ng-srcset="{{modalData.image}}" alt="{{modalData.title}}">
					<img data-ng-src="{{modalData.image}}" alt="{{modalData.title}}">
				</picture>
				<div class="logoGraphics-wrapper"><img alt="European Agency for Safety and Health at Work" src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-ilo/static/custom/img/EU-OSHA-en.png" class="logoGraphics"></div>
			</div>
			<div class="modal-footer">
				<p data-ng-bind="modalData.text"></p>
			</div>
		</div>
	</div>
</div>
</zylk-dashboard>
