
.homepage.page-content{
  width:auto;
  float:none;
  margin:0 auto;
  padding-left: 15px;
  padding-right: 15px;
  clear:both;
}
.section-carrousel{
  background:#DBECED;
  padding: 0px 0 15px;
  .ilo-container-carrousel{
    h2.title-section{
      text-align: center;
      color: $subheader;
      font-size:4rem;
    }
    .subject-section{
      text-align: center;
    }
  }

  #carouselHome{
    min-height: 620px;
    margin: 0px 0 0;
    .carousel-indicators{
      bottom: 0;
      li {
        width: 20px;
        height: 20px;
        cursor: pointer;
        margin: 0 12px;
        background-color:$header;
        border: 0px solid #fff;
        border-radius: 20px;
        &.active{
          background-color:$subheader;
        }
      }
    }
    .carousel-control-container {
      background-color: #FFF;
      margin-top: 3rem;
      padding-bottom: 1rem;
      border-radius: 20px;
    }
    .carousel-inner{
      padding: 0 !important;

      li.item{
        text-align: center;
        cursor: default;
        h2{
          color:$subheader;
          margin-top: 3rem;
          font-size: 3.2rem;
        }

        .carousel-chart {
          position: relative;
          width: 92%;
          overflow: auto;
          margin: 3rem auto 2rem;
          background: #FFF;
          padding: 1.5rem 3rem;
          border-radius: 8px;

          select {
            border: none;
            padding: 5px;
            font-weight: bold;
            background: transparent;
            position: absolute;
            top: 5px;
            right: 5px;
            cursor: pointer;
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            background: url(/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-ilo/static/custom/img/arrow-select.png) no-repeat right 50%;
            padding-right: 18px;
            &:focus {
              outline: none;
              color: $subheader;
            }
          }
          picture {
            width: 60%;
            float: left;
            img {
              width: 100%;
              &:hover {
                cursor: zoom-in;
              }
            }
          }
        }

        p.carousel-note{
          text-align: left;
          font-size: 1.6rem;
          padding: 5px 2% 5px 5px;
          width: 34%;
          float: right;
          clear: none;
          margin: 0 auto;
          font-family: OpenSans-bold;
          vertical-align: middle;
          margin-top: 11rem;
        }
      }
    }
    .carousel-control {
      font-size: 35px;
      background-image: none !important;
      width: 40px;
      .icon-prev, .icon-next, .prev, .next {
        top: 50%;
        right: 14px;
        position: absolute;
        color: $subheader;
      }
    }
    .carousel-control.left {
      left: -40px;
    }
    .carousel-control.right {
      right: -60px;
    }
    .carousel-indicators {
      position: static;
      bottom: 0px;
      margin: 15px auto;
      z-index: 15;
      width: 60%;
      padding-left: 0;
      list-style: none;
      text-align: center;
    }

  }
}

.section-first-home{
  background: #FAFAFA;
  padding: 40px 0;

  h4{
    margin-bottom: 3rem;
    font-size: 2.2rem;
    margin-top: 4rem;
    text-align: center;
  }
  h3{
    color: $subheader;
    text-align: center;
    font-size: 2.8rem;
  }
  p.oshLink {
    display: inline-block;
    font-size: 1.8rem;
    padding: 15px 40px;
    border-radius: 4px;
    margin: auto;
    width: 70%;
    font-family: Oswald-Light, sans-serif;
    border: 2px solid $subheader;
    span:nth-child(2) {
      float: right;
    }
  }
  .chart1-section-first{
    /*text-align: center;
    padding: 2rem 0 2rem 0;
    background: #FFF;
    width: 100%;
    margin: auto;
    border-radius: 8px 8px 0 0;*/
    text-align: center;
    padding: 2rem 0 2rem 0;
    background: #FFF;
    width: 50%;
    margin: auto;
    border-radius: 8px 8px 0 0;
    display: inline-block;
    float: left;
    p{
      margin: 0;
    }
  }
  .legend-home-chart{
    text-align: center;
    background: $colorWhite;
    padding: 1rem;
  }
  .chart2-section-first{
   /* text-align: center;
    background: #FFF;
    padding: 7rem 0 2rem;
    width: 100%;
    margin: auto;
    border-radius:0 0  8px 8px ;*/
    text-align: center;
    background: #FFF;
    padding: 2rem 0 2rem;
    width: 50%;
    margin: auto;
    border-radius: 0 0 8px 8px;
    display: inline-block;
    /* float: left; */
    p{
      margin: 0;
    }
    h4{
      margin-bottom: 3rem;
      font-size: 2.2rem;
    }
  }
  img:hover{
    cursor: zoom-in;
  }
  .content-section-first{
    margin: 5rem auto 0;
    p.text-section-first{
      text-align: center;
      color:$subheader;
    }
  }
}
.section-second-home{
  background: #F9F9F9;
  padding: 40px 0;
  h3{
    color: $subheader;
    text-align: center;
    font-size: 2.8rem;
  }
  .chart-section-second{
    text-align: center;
    margin-top: 4rem;
  }
  img:hover{
    cursor: zoom-in;
  }
  .content-section-second{
    p{
      text-align: center;
    }
  }
}
.compare-buttons{
  background: #FFF;
  padding: 40px 0;
  .compare-buttons-list{
    text-align: center;
    li{
      margin-right: 30px;
      width: 48%;
      a{
        font-family: Oswald-Light,sans-serif!important;
        font-size: 1.8rem;
        display: inline-block;
        background:#449FA2;
        color: #FFF;
        padding: 10px 40px;
        border-radius: 4px;
        margin: auto;
        cursor: pointer;
        &:hover{
          background: $plt-eu02;
          text-decoration: none;
        }
      }
      &:last-child{
        margin-right: 0px;
      }
    }
  }
}
.see-more{
  text-align: center;
  margin: 25px 0 5px;
  font-family: Oswald-Light,sans-serif!important;
  font-size: 1.8rem;
  text-decoration: none;
  a{
    display: inline-block;
    background:$subheader;
    color: #FFF;
    padding: 10px 40px;
    border-radius: 4px;
    margin: auto;
    cursor: pointer;
    &:hover{
      background:$plt-eu02;
      text-decoration: none;
    }
  }
}

.cdfNotification{
  background: url(/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-ilo/static/custom/img/error_processing.png) no-repeat scroll 5% 12px;
  min-height: 11em !important;
  .cdfNotificationBody{
    .cdfNotificationTitle{
      color: #FF8000;
      font-family: Open Sans !important;
      font-size: 1.6rem !important;
      /*
      &:before{
        content: "\f071";
        display: inline-block;
        font: normal normal normal 24px/1 FontAwesome !important;
        margin-right: 10px;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscal
      }
      */
    }
  }

}

.modal-dialog {
  width: 60%;
  background: #FFF;
  padding: 1rem;
  border-radius: 8px;
  .modal-content{
    margin:1rem;
    background: $backGraps;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    .modal-header{
      padding: 10px 20px;
      border-bottom: none;
      .modal-title{
        font-family: "Oswald", sans-serif;
        font-size: 2.7rem;
        font-weight: normal;
        color: #000 !important;
      }
    }
    .modal-body{
      padding: 1px 10px;
      background: #FFF;
      text-align: center;
      width: 96%;
      margin: auto;
      img{
        width:75%;
        background: #FFF;
        padding: 2%;
        margin: auto;
      }
      .logoGraphics-wrapper{
        float: none;
        text-align: right;
        img{
          width: 100px;
          height: auto;
          display: block;
          padding: 0;
          float: none;
          display: inline-block;
        }
      }
    }
    .modal-footer {
      padding: 20px 20px;
      text-align: right;
      border-top: none;
      p{
        color: #000;
        text-align: left;
      }
    }
  }
}

.modal.in .modal-dialog {
  /*overflow-y: auto;*/
}
.modal.in .modal-dialog::-webkit-scrollbar {
  width:4px;
  background-color: #F5F5F5;
}

.modal.in .modal-dialog::-webkit-scrollbar-thumb {
  background-color: #666;
}

select::-ms-expand{
  display: none;
}
.tooltip .fa-close{
  padding-top: 0.5em;
  padding-right: 0.5em;
  color: #fff;
}
