
@mixin scale-svg($w, $h) {
  -ms-transform: scale($w, $h);
  -webkit-transform: scale($w, $h);
  -moz-transform: scale($w, $h);
  transform: scale($w, $h);
}

@media print {
  body {
    padding-top: 0;
    margin: 1em .5cm !important;
    width: 100% !important;
    page-break-after: always;
  }
  .mainBody {
    overflow: visible;
    width: 100%;
  }
  .col-xs-12 {
    width: 100% !important;
  }
  .eu-osha-logo {
    margin-left: 0px;
  }
  /******* DISPLAY NONE FOR PRINT ********/

  #widthConsent,
  #cookiesConsent,
  .mainMenu,
  #google_translate_element_wrapper,
  #google_translate_element,
  .socialWidget,
  .path,
  #footer-second-line,
  .panel-footer div#block-menu-block-5,
  .main-indicator > .links,
  .bulletsItems,
  .contextual-menu,
  .policies a[role=button],
  .back,
  .footer-social-network,
  .menu-tools-top,
  .footer-nav-accessibility,
  .social-network{
    display: none;
  }


  /******* END DISPLAY NONE FOR PRINT ********/

  a:after {
    content: " " !important;
    font-family: "Arial";
    color: #AAA;
   // display: block;
    font-size: 1rem;
    font-style: normal;
    text-decoration: none !important;
    word-break: break-all;
  }
  .ilo-header {
    #containerMenu {
      -webkit-box-shadow: 0px 2px 2px 0px #cccccc;
      -moz-box-shadow: 0px 2px 2px 0px #cccccc;
      box-shadow: 0px 2px 2px 0px #cccccc;
      z-index: 100;
      background: #FFF;
      float: none;
      width: 100%;
      position: relative !important;
    }
    #home-cover{
      height: auto !important;
      h1.title-banner {
       width: 100% !important;
      }
    }
    .page-header-wrapper{
      margin-top: 1cm;
      .page-header {
        margin: 0;
      }
    }
  }
  .osha-eu-estimates{
    padding:0 !important;
    overflow: visible !important;
  }
  .carousel-indicators{
    li{
      display: none;
      width: 100%;
      &.active{
        display: block !important;
      }
    }
  }
  .carousel-control{
    display: none;
  }
  div[id^=zylk_bar_chart]{
    //zoom: 0.928;
    -moz-transform: scale(0.928);
    -webkit-transform: scale(0.928);
    transform: scale(0.928);
  }
  .chart-legend {
    padding: 20px 20px !important;
  }
  .compare-buttons {
    display: none;
  }
  .copyright{
    text-align: center !important;
  }

  // ANALYSIS BY ILLNESS.
  .chart-analysis-illnesses{
    .chart-analysis-illnesses-box{
      .country-wrapper {
        padding: 0 !important;
        .zylk-chart {
          width: 50% !important;
        }
      }
    }
  }
  .countries-analysis-by-illnesses{
    width: 100%;
    .country-wrapper{
      padding:0 !important;
      .zylk-chart{
        width: 50% !important;
      }
      .country-chart-legend{
        padding-right: 0 !important;
      }
    }
  }

  .osha-analysis-illnesses{
    .chart-analysis-illnesses,
    .chart-analysis-illnesses.affix{
      position: relative;
      top:0;
      .chart-analysis-illnesses-box{
        position: relative;
        background: #FFF !important;
        padding: 20px !important;
        border: 0px solid #EAEAEA;
        border-radius: 8px;
        margin: auto;
        overflow: hidden;
        h2 {
          text-align: center;
          width: 100%;
          font-size: 2.6rem;
          color:#449FA2;
        }
        .chart-wrapper{
          .zylk-chart{
            width: 50% !important;
            float: left;
          }
          .ul.legend-list{
            width: 70%;
            float: right;
            list-style-type: none;
            column-count: 2;
            -webkit-column-count: 2;
            -moz-column-count: 2;
            li{
              &:nth-child(1) .legend-data{
                background:#0FA9A9 !important;
              }
              &:nth-child(2) .legend-data{
                background:#F2C466 !important;
              }
              &:nth-child(3) .legend-data{
                background:#DB3081 !important;
              }
              &:nth-child(4) .legend-data{
                background:#575759 !important;
              }
              &:nth-child(5) .legend-data{
                background:#C9E3E3 !important;
              }
            }
          }
        }
      }
    }
  }
  .country-analysis-by-illnesses{
    .country-wrapper{
      ul.legend-list {
        li{
          &:nth-child(1) .legend-data{
            background:$plt-eu01 !important;
          }
          &:nth-child(2) .legend-data{
            background:$plt-eu02 !important;
          }
          &:nth-child(3) .legend-data{
            background:$plt-eu03 !important;
          }
          &:nth-child(4) .legend-data{
            background:$plt-eu04 !important;
          }
          &:nth-child(5) .legend-data{
            background:$plt-eu05 !important;
          }
        }
      }
    }
  }
  .country-analysis-by-illnesses{
    width: 50% !important;
    page-break-inside: avoid !important;
  }

  //GLOBAL ESTIMATES
  .osha-global-estimates-wrapper{
    .carousel-indicators{
      border:none !important;
    }
    .global-estimates-countries-regions{
      border:none !important;
    }
  }



  // GLOSSARY
  .glossary {
    font-size: 1.4rem;
    .see-more{
      display: none;
    }
    .main-text-glossary{
      text-align: center;
    }
    .glossary-terms{
      .searcher {
        display: none;
        .search {
        }
      }
    }
    .search-results{
      .col-lg-10{
        width: 100%;
      }
      .row {
        .glossary-term {
        text-align: left !important;
        }
        .glossary-def {

        }
        .glossary-def, .glossary-term {
          display: block;
          padding: 1em;
          color: #333;
          width: 100%;
        }
      }
    }
    .pagination-block{
      display: none;
    }
  }

  .backGraps {
    div[id*=protovis] {
      left: -50px !important;
      position: relative;
    }
  }
  .osha-global-estimates-wrapper .carousel-countries .global-estimates-countries-regions p.countries-regions-text {
    width: 100%;
    display: inline-block;
    padding: 1.5rem 3rem;
  }
}

.ilo-container-footer{
  position: relative !important;
  z-index: 10;
  width: 100%;
}