
@mixin scale-svg($w, $h) {
  -ms-transform: scale($w, $h);
  -webkit-transform: scale($w, $h);
  -moz-transform: scale($w, $h);
  transform: scale($w, $h);
}

@media print {
  body {
    padding-top: 0;
    margin: 1em .5cm !important;
    width: 100% !important;
    page-break-after: always;
  }
  .mainBody {
    overflow: visible;
    width: 100%;
  }
  .col-xs-12 {
    width: 100% !important;
  }
  .eu-osha-logo {
    margin-left: 0px;
  }
  /******* DISPLAY NONE FOR PRINT ********/

  #widthConsent,
  #cookiesConsent,
  .mainMenu,
  #google_translate_element_wrapper,
  #google_translate_element,
  .socialWidget,
  .path,
  #footer-second-line,
  .panel-footer div#block-menu-block-5,
  .main-indicator > .links,
  .bulletsItems,
  .contextual-menu,
  .policies a[role=button],
  .back,
  .footer-social-network,
  .menu-tools-top,
  .footer-nav-accessibility{
    display: none;
  }
  /******* END DISPLAY NONE FOR PRINT ********/

  a:after {
    content: " " !important;
    font-family: "Arial";
    color: #AAA;
    display: block;
    font-size: 10px;
    font-style: normal;
    text-decoration: none !important;
    word-break: break-all;
  }
  .ilo-header {
    #containerMenu {
      -webkit-box-shadow: 0px 2px 2px 0px #cccccc;
      -moz-box-shadow: 0px 2px 2px 0px #cccccc;
      box-shadow: 0px 2px 2px 0px #cccccc;
      z-index: 100;
      background: #FFF;
      float: none;
      width: 100%;
      position: relative;
      top: 0;
    }
    .page-header-wrapper{
      margin-top: 1cm;
      .page-header {
        margin: 0;
      }
    }
  }
  osha-eu-estimates{
    padding:0 !important;
    overflow: visible !important;
  }
  .carousel-indicators{
    li{
      display: none;
      width: 100%;
      &.active{
        display: block !important;
      }
    }
  }
  .carousel-control{
    display: none;
  }
  div[id^=zylk_bar_chart]{
    zoom: 0.928;
  }
  .chart-legend {
    padding: 20px 20px !important;
  }
  .compare-buttons {
    display: none;
  }
  .copyright{
    text-align: center !important;
  }

  // ANALYSIS BY ILLNESS

  .osha-analysis-illnesses{
    .chart-analysis-illnesses{
      .chart-analysis-illnesses-box{
        .chart-wrapper{
          .zylk-chart{
            width: 40% !important;
            float: left;
          }
          .ul.legend-list{
            width: 50%;
            float: right;
          }
        }
      }
    }
  }


  .country-analysis-by-illnesses{
    width: 50% !important;
    page-break-inside: avoid !important;
  }


}