/** fluid 100% to 1650 px **/
@media only screen and (min-width : $ful1650)  {

}
@media only screen and (max-width : $ful1650)  {

}

@media only screen  and (min-width : 1280px) and (max-width : $ful1650)  {

}
/** end fluid 100% to 1650 px **/


@media screen and (min-width: 1200px) {
}
@media only screen  and (min-width : 1281px) and (max-width : $ful1650)  {
  .page-header {
      width: 80%;
  }
  .carousel-caption {
      right: 10%;
      left: 10%;
  }
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) and (orientation : portrait) {
  #carouselHome {
    .carousel-inner {
      li.item {
        width: 96% !important;
        .carousel-chart{
          width: 95% !important;
        }
      }
    }
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  /** EU-ESTIMATES **/
  .countries-comparison{
    .osha-eu-estimates-wrapper{
      .carousel-indicators{
        li {
          width: 45%;
        }
      }
      .carousel-control{
        &.left {
          left: -2.5%;
          i{
            top: 370px;
          }
        }
        &.right {
          left: 97.5%;
          i{
            top: 370px;
          }
        }
      }
    }
  }
  .eu-analysis-illness-wrapper {
    .compare-buttons{
      .compare-buttons-list{
        li {
          margin-right: 1%;
          width: 48%;
        }
      }
    }
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation : landscape){
  #carouselHome {
    .carousel-inner {
      li.item {
        width: 100% !important;
        .carousel-chart{
          width: 95% !important;
          margin: 0 !important;
          padding: 15px !important;
          overflow: hidden;
          img{
            width: 100%;
          }
        }
      }
    }
  }
  /** HOME **/
  .section-carrousel {
    #carouselHome {
      min-height: 330px;
    }
  }
  .modal-dialog {
    width: 98%;
    .modal-content{
      .modal-header{
        .modal-title{
        }
      }
      .modal-body{
        img{
          width: 100%;
          padding: 1%;
        }
      }
      .modal-footer {
      }
    }
  }
}
@media only screen and (max-width: 991px) {
  #google_translate_element_wrapper {
    top: 43px;
  }
  .ilo-header {
    #containerMenu {
      .menu-tools-top {
        padding: 40px 15px 0;
        .social-network {
          padding-right: 136px;
        }
      }
    }
  }

}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){
  body{
    padding-top: 90px;
  }
  .ilo-header{
    #not-home-cover {
      margin-top: 12px !important;
    }
    .path {
      margin-top: 6px;
    }
  }

  /** HOME **/
  #carouselHome {
    min-height: 330px;
    .carousel-inner {
      li.item {
        width: 100% !important;
        .carousel-chart{
          width: 95% !important;
          margin: 0 !important;
          padding: 15px !important;
          overflow: hidden;
          img{
            width: 100%;
          }
        }
      }
    }
  }
  .modal-dialog {
    width: 98%;
    .modal-content{
      .modal-header{
        .modal-title{
        }
      }
      .modal-body{
        img{
          width: 100%;
          padding: 1%;
        }
      }
      .modal-footer {
      }
    }
  }

  /** EU-ESTIMATES **/
  .countries-comparison{
    .osha-eu-estimates-wrapper{
      .carousel-indicators{
        li {
          width: 45%;
        }
      }
      .carousel-control{
        &.left {
          left: -2.5%;
          i{
            top: 370px;
          }
        }
        &.right {
          left: 97.5%;
          i{
            top: 370px;
          }
        }
      }
    }
    .compare-buttons{
      .compare-buttons-list{
        li {
          margin-right: 2%;
          width: 48%;
        }
      }
    }
  }
  .ilo-container-footer{
    .logos{
      height:auto;
    }
    .footer-elements{
      text-align: center;
      ul{
       margin: 10px 0 20px !important;
      }
    }
  }

  /** ANALYSIS ILNESSES **/
  .eu-analysis-illness-wrapper{
    .compare-buttons{
      .compare-buttons-list li {
        margin-right: 1%;
        width: 48%;
      }
    }
  }


} /** end media query 768 - 1024 portrait **/

@media screen and (max-width:767px){
  #google_translate_element_wrapper {
    top: 0px;
    right: -8px;
  }
  .modal-dialog {
    width: 98%;
    height: 98%;
    padding: 1%;
    margin: 1%;
  }
  .ilo-header{
    #home-cover {
      background-size: cover;
      //height: 135px;
    }
    #containerMenu {
      min-height: 105px;
      .menu-tools-top {
        padding: 0;
        position: absolute;
        right: 16px;
        top: 41px;
        width: auto;
      }
    }
    .social-network.indvt {
      top: 32px;
    }
  }
  .section-carrousel{
    #carouselHome{
      .carousel-inner{
        li.item{
          .carousel-chart {
            position: relative;
            width: auto;
            margin: 40px 25px 20px 0;
            padding: 15px 0px;
            img{
              width:100%;
            }
          }
        }
      }
      .carousel-control.right {
        right: -14px;
      }
    }
  }
  .chart-section-first{
    img{
      width:100%;
    }
  }
  .chart-section-second{
    img{
      width:100%;
    }
  }
  .compare-buttons {
    .compare-buttons-list{
      li {
        margin-right: 0;
        margin-bottom: 15px;
        width: 100%;
      }
    }
  }
  .osha-eu-estimates-wrapper{
    .carousel-indicators {
      li {
        width: 100%;
      }
    }
  }


  .osha-analysis-illnesses{
    .chart-analysis-illnesses.affix ~ .compare-buttons {
      margin-top: 15px;
    }
    .chart-analysis-illnesses.affix {
      top: 100px;
      width: 100%;
      height: auto;
      z-index: 9;
      overflow: hidden;
      background: #FFF;
      padding: 20px 0 0 0 !important;
      position: initial;
      .chart-analysis-illnesses-box {
        border-bottom: 0 !important;
        h2 {
          width: 100%;
          float: none;
          text-align: left;
          padding-left: 15px;
          text-align: center;
          width: 100%;
          font-size: 26px;
          color: #00A0A4;
        }
        .zylk-chart {
          width: 100%;
          float: none;
          text-align: center;
          .backGraps {
            zoom:1;
          }
        }
        ul.legend-list {
          margin-top: 2rem;
          width: 100%;
          transform: translateY(0%);
          -webkit-transform: translateY(0%);
          column-count: 2;
          -webkit-column-count: 2;
          -moz-column-count: 2;
          li{
            margin: 0px 0 10px;
          }
        }
        .chart-description {
          display: block;
        }
      }
    }
    .countries-analysis-by-illnesses{
      .country-analysis-by-illnesses {
        padding:0;
        .country-wrapper {
          position: relative;
          background: #FFF !important;
          padding: 20px 0 !important;
          margin: 0px auto 20px;
        }
      }
    }
  }

  // GLOBAL ESTIMATES
  .global-estimates-countries-regions {
    p.countries-regions-text {
      width: 100% !important;
    }
    .countries-regions-select {
      width: 100% !important;
      display: inline-block;
      vertical-align: top;
      margin-top: 0px;
      padding: 15px 30px;
      select {
        width: 100% !important;
        margin: 0 0 15px 0;
        option {
        }
        &:focus {
        }
      }
      input {
        width: 80%!important;
      }
    }
  }
}


@media screen and (max-width:600px) {
  #carouselHome {
    .carousel-chart {
      picture {
        img {
          width: auto;
        }
      }
    }
  }
  .ilo-container-footer{
    .footer-logotypes {
      li {
        width: 33%;
        padding: 0;
        margin: 0;
      }
    }
  }
  .footer-elements{
    .footer-nav-accessibility {
      margin: 10px 0 10px;
      text-align: center;
    }
    .footer-social-network {
      text-align: center;
      margin: 20px 0;
    }
  }
}
@media screen and (max-width:440px) {
  #carouselHome {
    .carousel-chart {
      picture {
        img {
          width: 100%;
        }
      }
    }
  }
}


/* only for IE11
@media screen and (min-width :1440px) and (-ms-high-contrast: active), (-ms-high-contrast: none) and (min-width :1440px){
 #approaches-map-content div.grey.clearfix zylk-map svg{
  width:80% !important;
  left:0 !important;
  margin-left: 0 !important;
  height:690px !important;
 }
}
@media screen and (min-width :1281px) and (max-width :1439px) and (-ms-high-contrast: active), (-ms-high-contrast: none) and (min-width :1281px) and (max-width :1439px){
   #approaches-map-content div.grey.clearfix zylk-map svg{
    width:100% !important;
    left:0 !important;
    margin-left: 0 !important;
    height:690px !important;
   }
}
@media screen and (min-width :1121px) and (max-width :1280px) and (-ms-high-contrast: active), (-ms-high-contrast: none) and (min-width :1121px) and (max-width :1280px){
 #approaches-map-content div.grey.clearfix zylk-map svg{
  width:90% !important;
  left:0 !important;
  margin-left: 0 !important;
  height:500px !important;
  }
  .dvt-chart.radar svg{
    padding-left:8%;
    height:460px !important;
  }
  .modal-body .dvt-chart.radar svg{
    padding-left:8%;
    height:550px !important;
  }
}

@media screen and (min-width :1025px) and (max-width :1120px) and (-ms-high-contrast: active), (-ms-high-contrast: none) and (min-width :1025px) and (max-width :1120px){
 #approaches-map-content div.grey.clearfix zylk-map svg{
  width:90% !important;
  left:0 !important;
  margin-left: 0 !important;
  height:500px !important;
  }
  .dvt-chart.radar svg{
    padding-left:8%;
    height:460px !important;
  }
  .modal-body .dvt-chart.radar svg{
    padding-left:8%;
    height:550px !important;
  }
}
@media screen and (min-width :801px) and (max-width :1024px) and (-ms-high-contrast: active), (-ms-high-contrast: none) and (min-width :801px) and (max-width :1024px){
  #approaches-map-content div.grey.clearfix zylk-map svg{
    width:100% !important;
    left:0 !important;
    margin-left: 10% !important;
    height:480px !important;
  }
  .dvt-chart.radar svg{
    padding-left:8%;
    height:800px !important;

  }

 @media screen and (min-width :768px) and (max-width :800px) and (-ms-high-contrast: active), (-ms-high-contrast: none) and (min-width :768px) and (max-width :800px){
    #approaches-map-content div.grey.clearfix zylk-map svg{
    width:80% !important;
    left:0 !important;
    margin-left: 5% !important;
    height:480px !important;
  }
  .dvt-chart.radar svg{
    padding-left:8%;
    height:640px !important;

  }
  .modal-body .dvt-chart.radar svg{
    padding-left:8%;
    height:500px !important;
  }
 }
 @media screen and (min-width :420px) and (max-width :767px) and (-ms-high-contrast: active), (-ms-high-contrast: none) and (min-width :420px) and (max-width :767px){
    #approaches-map-content div.grey.clearfix zylk-map svg{
    width:80% !important;
    left:0 !important;
    margin-left: 5% !important;
    height:480px !important;
  }
  .dvt-chart.radar svg{
    padding-left:8%;
    height:430px !important;
  }
  .modal-body .dvt-chart.radar svg{
    padding-left:8%;
    height:450px !important;
  }
 }
 @media screen and (max-width :480px) and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width :480px){
    #approaches-map-content div.grey.clearfix zylk-map svg{
    width:80% !important;
    left:0 !important;
    margin-left: 0% !important;
    height:370px !important;
  }
  .dvt-chart.radar svg{
    padding-left:8%;
    height:380px !important;
  }
  .modal-body .dvt-chart.radar svg{
    padding-left:8%;
    height:450px !important;
  }
 }
*/
/* ONLY FOR TABLETS */
/*
@media only screen and (max-device-width : 1024px) {
  .a2a_button_print{
    display: none;
  }
  .open>.dropdown-menu li:nth-child(2) {

  }

}
*/