<!-- countries-comparison.html -->
<zylk-dashboard promises="promises" parameters="dashboard.parameters" class="countries-comparison" style="overflow:auto">

    <!--<form>
        <input type="radio" name="checked" data-ng-model="checked" value="checked-16" data-ng-checked="true"><span>Years of life lost</span>
        <input type="radio" name="checked" data-ng-model="checked" value="checked-17"><span>Years lived with disability</span>
        <input type="radio" name="checked" data-ng-model="checked" value="checked-18"><span>Total years lost</span>
        <input type="radio" name="checked" data-ng-model="checked" value="checked-19"><span>Total workforce loss (%)</span>
        <input type="radio" name="checked" data-ng-model="checked" value="checked-20"><span>Work-related illnesses</span>
        <input type="radio" name="checked" data-ng-model="checked" value="checked-21"><span>Occupational injuries</span>
    </form>-->
    <div class="container-full osha-eu-estimates-wrapper ">
        <div class="osha-eu-estimates container">
            <div id="carouselCountries" class="carousel-countries carousel slide" data-interval="false" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators container eu-estimates-indicators">
                    <li data-target="#carouselCountries" data-slide-to="0" class="active">
                        <i class="fa fa-circle-o" aria-hidden="true"></i><span data-ng-bind="i18n.L62"></span>
                    </li>
                    <li data-target="#carouselCountries" data-slide-to="1">
                        <i class="fa fa-circle-o" aria-hidden="true"></i><span data-ng-bind="i18n.L63"></span>
                    </li>
                    <li data-target="#carouselCountries" data-slide-to="2">
                        <i class="fa fa-circle-o" aria-hidden="true"></i><span data-ng-bind="i18n.L64"></span>
                    </li>
                    <li data-target="#carouselCountries" data-slide-to="3">
                        <i class="fa fa-circle-o" aria-hidden="true"></i><span data-ng-bind="i18n.L65"></span>
                    </li>
                    <li data-target="#carouselCountries" data-slide-to="4">
                        <i class="fa fa-circle-o" aria-hidden="true"></i><span data-ng-bind="i18n.L66"></span>
                    </li>
                    <li data-target="#carouselCountries" data-slide-to="5">
                        <i class="fa fa-circle-o" aria-hidden="true"></i><span data-ng-bind="i18n.L67"></span>
                    </li>
                </ol>
                <!-- Wrapper for slides -->
                <ul class="carousel-inner">
                    <li class="item active">
                        <zylk-bar-chart
                                data-ng-cloak
                                query="getIndicatorData" cda="{{::cda }}"
                                angle="1" width="{{graphWidth}}" height="330"
                                orientation="{{orientation}}"
                                ortho-axis-title="Measure"
                                params="[['pIndicator','16']]"
                                color-role="series"
                                title="TEST BAR CHART" id="16"
                                long-title="YLL per 100.000 workers in EU28 by country"
                                plots="stories[0].plots"
                        ></zylk-bar-chart>
                        <div class="chart-legend">
                            <p>
                                chart 1 : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur hendrerit egestas mattis. Aliquam ornare leo odio, quis suscipit nulla dapibus sit amet. Nullam sit amet hendrerit nulla, in ullamcorper massa. In vel porttitor velit, non posuere ante. Praesent ut pellentesque arcu, sit amet gravida lectus. Nullam condimentum enim ac congue accumsan. Phasellus pretium eu diam sit amet sodales. Duis vulputate ornare fermentum. Phasellus ut pretium nunc, id varius felis. Curabitur nec tellus interdum, elementum dui non, vehicula arcu.
                            </p>
                        </div>
                    </li>
                    <li class="item">
                        <zylk-bar-chart
                                data-ng-cloak
                                query="getIndicatorData" cda="{{::cda }}"
                                angle="1" width="{{graphWidth}}" height="330"
                                orientation="{{orientation}}"
                                ortho-axis-title="Measure"
                                params="[['pIndicator','17']]"
                                color-role="series"
                                title="TEST BAR CHART" id="17"
                                long-title="YLL per 100.000 workers in EU28 by country"
                                plots="stories[0].plots"
                        ></zylk-bar-chart>
                        <div class="chart-legend">
                            <p>
                                chart 2: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur hendrerit egestas mattis. Aliquam ornare leo odio, quis suscipit nulla dapibus sit amet. Nullam sit amet hendrerit nulla, in ullamcorper massa. In vel porttitor velit, non posuere ante. Praesent ut pellentesque arcu, sit amet gravida lectus. Nullam condimentum enim ac congue accumsan. Phasellus pretium eu diam sit amet sodales. Duis vulputate ornare fermentum. Phasellus ut pretium nunc, id varius felis. Curabitur nec tellus interdum, elementum dui non, vehicula arcu.
                            </p>
                        </div>
                    </li>
                    <li class="item">
                        <zylk-bar-chart
                                data-ng-cloak
                                query="getIndicatorData" cda="{{::cda }}"
                                angle="1" width="{{graphWidth}}" height="330"
                                orientation="{{orientation}}"
                                ortho-axis-title="Measure"
                                params="[['pIndicator','18']]"
                                color-role="series"
                                title="TEST BAR CHART" id="18"
                                long-title="YLL per 100.000 workers in EU28 by country"
                                plots="stories[0].plots"
                        ></zylk-bar-chart>
                        <div class="chart-legend">
                            <p>
                                chart 3 : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur hendrerit egestas mattis. Aliquam ornare leo odio, quis suscipit nulla dapibus sit amet. Nullam sit amet hendrerit nulla, in ullamcorper massa. In vel porttitor velit, non posuere ante. Praesent ut pellentesque arcu, sit amet gravida lectus. Nullam condimentum enim ac congue accumsan. Phasellus pretium eu diam sit amet sodales. Duis vulputate ornare fermentum. Phasellus ut pretium nunc, id varius felis. Curabitur nec tellus interdum, elementum dui non, vehicula arcu.
                            </p>
                        </div>
                    </li>
                    <li class="item">
                        <zylk-bar-chart
                                data-ng-cloak
                                query="getIndicatorData" cda="{{::cda }}"
                                angle="1" width="{{graphWidth}}" height="330"
                                orientation="{{orientation}}"
                                ortho-axis-title="Measure"
                                params="[['pIndicator','19']]"
                                color-role="series"
                                title="TEST BAR CHART" id="19"
                                long-title="YLL per 100.000 workers in EU28 by country"
                                plots="stories[0].plots"
                        ></zylk-bar-chart>
                        <div class="chart-legend">
                            <p>
                                chart 4 : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur hendrerit egestas mattis. Aliquam ornare leo odio, quis suscipit nulla dapibus sit amet. Nullam sit amet hendrerit nulla, in ullamcorper massa. In vel porttitor velit, non posuere ante. Praesent ut pellentesque arcu, sit amet gravida lectus. Nullam condimentum enim ac congue accumsan. Phasellus pretium eu diam sit amet sodales. Duis vulputate ornare fermentum. Phasellus ut pretium nunc, id varius felis. Curabitur nec tellus interdum, elementum dui non, vehicula arcu.
                            </p>
                        </div>
                    </li>
                    <li class="item">
                        <zylk-bar-chart
                            data-ng-cloak
                            query="getIndicatorData" cda="{{::cda }}"
                            angle="1" width="{{graphWidth}}" height="330"
                            orientation="{{orientation}}"
                            ortho-axis-title="Measure"
                            params="[['pIndicator','20']]"
                            color-role="series"
                            title="TEST BAR CHART" id="20"
                            long-title="YLL per 100.000 workers in EU28 by country"
                            plots="stories[0].plots"
                        ></zylk-bar-chart>
                        <div class="chart-legend">
                            <p>
                                chart 5 : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur hendrerit egestas mattis. Aliquam ornare leo odio, quis suscipit nulla dapibus sit amet. Nullam sit amet hendrerit nulla, in ullamcorper massa. In vel porttitor velit, non posuere ante. Praesent ut pellentesque arcu, sit amet gravida lectus. Nullam condimentum enim ac congue accumsan. Phasellus pretium eu diam sit amet sodales. Duis vulputate ornare fermentum. Phasellus ut pretium nunc, id varius felis. Curabitur nec tellus interdum, elementum dui non, vehicula arcu.
                            </p>
                        </div>
                    </li>
                    <li class="item">
                        <zylk-bar-chart
                            data-ng-cloak
                            query="getIndicatorData" cda="{{::cda }}"
                            angle="1" width="{{graphWidth}}" height="330"
                            orientation="{{orientation}}"
                            ortho-axis-title="Measure"
                            params="[['pIndicator','21']]"
                            color-role="series"
                            title="TEST BAR CHART" id="21"
                            long-title="YLL per 100.000 workers in EU28 by country"
                            plots="stories[0].plots"
                        ></zylk-bar-chart>
                        <div class="chart-legend">
                            <p>
                                chart 6 : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur hendrerit egestas mattis. Aliquam ornare leo odio, quis suscipit nulla dapibus sit amet. Nullam sit amet hendrerit nulla, in ullamcorper massa. In vel porttitor velit, non posuere ante. Praesent ut pellentesque arcu, sit amet gravida lectus. Nullam condimentum enim ac congue accumsan. Phasellus pretium eu diam sit amet sodales. Duis vulputate ornare fermentum. Phasellus ut pretium nunc, id varius felis. Curabitur nec tellus interdum, elementum dui non, vehicula arcu.
                            </p>
                        </div>
                    </li>
                </ul>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#carouselCountries" data-slide="prev" data-ng-non-bindable>
                    <i class="fa fa-chevron-left prev " aria-hidden="true"></i>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carouselCountries" data-slide="next" data-ng-non-bindable>
                    <i class="fa fa-chevron-right next" aria-hidden="true"></i>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    <div class="compare-buttons">
        <ul class="compare-buttons-list  list-inline container">
            <li><a href="" >See more about the main work-related illnesses groups in the EU countries</a></li>
            <li><a href="" >See more about the situation at world level, in the WHO regions</a></li>
        </ul>
    </div>

</zylk-dashboard>
