.main-text-eu-estimates{
  p:first-child{
    text-align: center;
  }
}
.osha-eu-estimates-wrapper{
  background: #f9f9f9;
  .carousel-countries{
    float: left;
    margin-top: 20px;
    width:100%;
    z-index: 2;
    cursor: default;
  }
  .carousel-indicators {
    position: relative !important;
    bottom: 0 !important;
    left: 0;
    z-index: 15;
    width: 100%;
    margin: 0;
    padding: 10px 0 10px;
    list-style: none;
    text-align: center;
    background: $colorWhite;
    border: 1px solid $border;
    li {
      width: 30%;
      height: 20px;
      cursor: pointer;
      margin: 10px 12px;
      background-color: transparent;
      border: 0px solid $colorWhite;
      border-radius: 0px;
      text-indent: 0;
      text-align: left;
      .fa {
        margin: 0 15px;
        font-size: 2.2rem;
      }
      &:hover{
        background-color: transparent;
        color: $subheader !important;
        .fa-circle-o:before {
          content: "\f05d";
        }
      }
      &.active, &:focus, &:active {
        background-color: transparent;
        //font-family: "OpenSans-Bold";
        color:$subheader !important;
        .fa-circle-o:before {
          content: "\f05d";
        }
      }
    }
  }
  .carousel-inner {
    float: left;
    width:100%;
    padding:0;
    max-height: 660px;
    min-height: auto;
    margin-bottom: 0;
    > .item{
      width: 100% !important;
    }
    li {
      float: left;
      width: 100% !important;
      .dvt-chart {
        width: 100% !important;
        background: $border !important;
        padding: 0 20px 0 !important;
        border: 1px solid $border;
        border-radius: 0 0 8px 8px;
        overflow: hidden;
        -webkit-box-shadow: 0px 1px 2px 1px rgba(204,204,204,1);
        -moz-box-shadow: 0px 1px 2px 1px rgba(204,204,204,1);
        box-shadow: 0px 1px 2px 1px rgba(204,204,204,1);
        .header{
          h2{
            margin: 0;
            text-align: center;
            width: 100%;
            font-size:2.6rem;
            color:$subheader ;
          }
        }
        .backGraps {
          background: transparent !important;
          margin: 0em auto 0;
          svg > g > g > g > g:nth-last-child(2){
            -ms-transform: translate(-12px,0px) !important;
            -webkit-transform: translate(-12px,0px) !important;
            transform: translate(-12px,0px) !important;
          }
        }
        .header{
          margin-top: 20px !important;
        }
        div[id^='zylk_bar_chart'] {
        }
      }
      &.active{
        width: 100% !important;
      }
      .chart-legend{
        padding: 40px 20px;
        width: 100%;
        clear: both;
      }
    }
  }
  .carousel-control{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 34px;
    opacity: .5;
    filter: alpha(opacity=50);
    font-size: 2rem;
    background-color: transparent;
    z-index: 15;
    &.right{
      background-image: none;
      left: 100%;
      i{
        top: 310px;
        position: relative;
        color: $colorWhite;
      }
    }
    &.right:hover i{
      color: $font-grey;
    }
    &.left{
      background-image: none;
      left: -3%;
      i{
        top: 310px;
        position: relative;
        color: $colorWhite;
      }
    }
    &.left:hover i{
      color: $font-grey;
    }
  }
}

.countries-comparison{
  .compare-buttons{
    background: $colorWhite;
    padding: 40px 0;
    .compare-buttons-list{
      text-align: center;
      margin: 0 auto;
      li{
        margin-right: 30px;
        width:50%;
        a{
          font-family: Oswald-Light,sans-serif!important;
          font-size: 1.8rem;
          display: inline-block;
          background: #449FA2;
          color: #FFF;
          padding: 10px 40px;
          border-radius: 4px;
          margin: auto;
          cursor: pointer;
          &:hover{
            background: $plt-eu02;
            text-decoration: none;
          }
        }
        &:last-child{
          margin-right: 0px;
        }
      }
    }
  }
}

@media screen and (max-width:767px) {
  .countries-comparison{
    .osha-eu-estimates-wrapper {
      .carousel-inner {
        max-height: 720px;
        min-height: auto;
        margin-bottom: 1rem;
        li {
          .dvt-chart {
            padding: 0 10px 0 !important;
          }
        }
      }
      .carousel-control.right{
        left: 93%;
        i{
          top: 360px;
        }
      }
      .carousel-control.left i {
        top: 360px;
      }
    }
  }

  .eu-estimates-indicators {
    li {
      display: none;
      &.active {
        display: block;
        &:after {
          content: "\f078";
          font: normal normal normal 14px/1 FontAwesome;
          right: 15px;
          top: 25px;
          position: absolute;
        }
      }
      &:hover {
        display: block !important;
      }
      &.item-block {
        display: block;
      }
    }
  }
  .dvt-modal.in {
    .backGraps {
      svg{
        text{
          font-size: 12px !important;
        }
      }
/*
      svg > g > g > g > g > g:nth-last-child(2) {
        -ms-transform: translate(-5px, 6px) !important;
        -webkit-transform: translate(-5px, 6px) !important;
        transform: translate(-5px, 6px) !important;
      }
*/
    }
  }
}