<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pastafaris</title>
</head>
<body>
<article role="button" class="col-xs-12 col-md-12 col-lg-4">
    <a ui-sref='approaches-indicators({})'>
        <div class="article-background col-md-11 col-md-offset-1">
            <p class="article-more-info"><img src="http://www.venganza.org/images/th_FSM3d.jpg" title="FSM"></p>
        </div>
    </a>
</article>
<p> <h2>{{title}}</h2>
Estrictamente, en un principio eran 10, pero se perdieron dos, lo que explica parcialmente la laxa moral pastafari. Tampoco se trata estrictamente de "mandamientos", sino de "me-gustaría- mucho-que". Ahí van:

<ul>
    <p ng-bind-html="fsm" ></p>
</ul>
 <button ng-click="popup(changer)" class="button button-block {{buttonStyle}}" ng-bind="buttonText"></button>
</p>

<select id="groupTeam" ng-model="groupTeam">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
</select>
<table class="table tableSpike">
                <thead><th ng-bind="titles[0].colName"></th><th ng-bind="titles[1].colName"></th><th ng-bind="titles[2].colName"></th></thead>
                <tbody>
                  <tr ng-repeat = "colval in misvalores">
                            <td ng-bind="colval.Id" ></td>
                            <td ng-bind="colval.Description" ></td>
                            <td ng-bind="colval.ApproachID" ></td>
                 </tr>
              </tbody>
 </table>



</body>
</html>