.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.ilo-header{
    #containerMenu{
        -webkit-box-shadow: 0px 2px 2px 0px rgba(204,204,204,1);
        -moz-box-shadow: 0px 2px 2px 0px rgba(204,204,204,1);
        box-shadow: 0px 2px 2px 0px rgba(204,204,204,1);
        z-index: 100;
        background:#FFF;
        float: left;
        width: 100%;
        position: fixed;
        top:0;
        .menu-tools-top{
            padding: 15px 15px 0;
            .submenu-icon{
                display: none;
            }
            .social-network {
                margin: 0 15px 0 0;
                padding-right: 160px;
                li{
                    padding-right: 7px;
                    a{
                        color: $menu-item;
                        &:hover{
                            color: $color03;
                        }
                        img{
                            width: 18px;
                            opacity: 0.35;
                        }
                    }
                }
            }
        }
    }
    #home-cover {
        background: url('/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-ilo/static/custom/img/home-header-bg.png') #529FA2 no-repeat right top;
        height: 65px;
        clear:both;
        h1 {
            color: $colorA;
            font-weight: 300;
            font-size: 36px;
            line-height: 36px;
            width: 275px;
            margin-top: 40px;
        }
        p.title-banner {
            color:  $colorWhite;
            font-size: 2em;
            font-weight: 500;
            line-height: 36px;
            margin-top: 15px;
            font-family: "Oswald", sans-serif;
        }
        a:link, a:visited, a:hover, a:active{
            text-decoration: none;
        }
    }
    #not-home-cover {
        background: url('/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-ilo/static/custom/img/not-home-banner.png') $colorB no-repeat right top;
        height: 31px;
        clear:both;
        h1 {
            color: $colorA;
            font-size: 2em;
            font-weight: 500;
            line-height: 36px;
            margin-top: 5px;
        }
        a:link, a:visited, a:hover, a:active{
            text-decoration: none;
        }
        #breadCrumbs{
            color: #FFF;
        }
    }
    p.title-banner {
        margin-top: 10px;
        color:  $colorWhite;
        font-size: 2em;
        font-weight: 500;
        line-height: 36px;
        font-family: "Oswald", sans-serif;
    }
    .titleAndWidget{
        background: #f9f9f9;
    }
}
.container-header{
    overflow:hidden;
    position:relative;
}
/* MENU.SCSS */

zylk-menu {
    display: block;
}

#main-menu {
    border-radius: 0;
    margin-top:0em;
    background: $colorWhite;
    width:auto;
    float: right;
}
.navbar-default {
    background-color:$colorTrans;
    border-color: $colorTrans;
}

ul.navbar-nav {
    margin-bottom: 0;
    width: 100%;
    //margin-top: 70px;
    //height: 80px;
    .container-fluid {}
    .caret {
        /* border: 1px solid red; */
        width: 20px;
        height: 10px;
        background: url(/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-ilo/static/custom/img/caret.png) no-repeat scroll 0 0px;
        border-top: none;
    }
    .dropdown-menu{
        margin:0;
        padding:0;
    }
}

#osha-menu-collapse {}
.navbar-default {
    .navbar-nav>li>a,
    .navbar-default .navbar-nav>li>a span {
        font-family: $font-header;
        color: $menu-item;
        font-size: 18px;
        font-weight: 400;
        &:hover {
            color: $menu-select;
        }
    }
    .navbar-nav>.open>a,
    .navbar-nav>.open>a:focus,
    .navbar-nav>.open>a:hover {
        background: $colorB;
        span {
            color:$colorWhite;
        }
    }
    .navbar-nav > .open > a > span.main-menu-selected {
        color:$colorWhite !important;
    }
}

// Submenu
.main-menu-selected {
    color: $colorB !important;
}
.dropdown-menu{
    .divider {
        margin: 5px 0;
    }
    .main-menu-selected {
        color:$font-grey !important;
    }
}
.mainMenu{
    background:$colorWhite;
}
#EUico{
    margin: 3em 0 0 1.5em;
}
.page-header-wrapper{
    .page-header {
        padding-bottom: 0.4em;
        border-bottom: 0;
        color: #f6a400;
        font-size: 4rem;
        line-height: 44px;
        width: 100%;
        margin: 2rem auto 0;
        text-align: center;
        .fa-question-circle {
            position: relative;
            vertical-align: top;
            top: 2px;
            color: #b1b3b4;
        }
    }
    .subject-section{
        text-align: center;
    }
}

.path {
    margin-bottom: 0;
    margin-top: 8px;
    font-style: italic;
    font-size:1.3rem;
    span {
        color: $colorA;
        font-weight:bold;
    }
}

.navbar-collapse.indvt {
    overflow-y: auto;
    width: 100%;
    background:$colorWhite;
    height: auto!important;
    margin-top: 2em;
    padding: 0;
}
.collapse.indvt {
    display: block !important;
}



/*google gadget*/

#google_translate_element_wrapper {
    text-align: right;
    z-index: 9997!important;
    margin: 14px 12px 0em 0;
    position: fixed;
    right: 15px;
    top:0;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%); /* Para cuando es estándar funcione en todos */
    filter: Gray(); /* IE4-8 and 9 */
    #google_translate_element {
        display: inline-block;
        .goog-te-gadget-simple {
            border: none !important;
            .goog-te-menu-value, .google_translate_span {
                color:$menu-item !important;
            }
            .goog-te-menu-value > span {
                //display: none;
            }
        }
    }
}
.overflowed {
    overflow:auto;
}
/* FIN MENU.SCSS */

@media (max-width: 991px) {
    .eu-osha-logo{
        margin-left: 60px;
        padding-top: 9px;
    }
    #main-menu {
        float: none;
        position: relative;
        z-index: -1;
    }
    .navbar-header {
        float: none;
        position: absolute;
        top: 24px;
    }
    .navbar-toggle {
        display: block;
        background-color: transparent !important;
        border: none;
        .icon-bar {
            display: block;
            width: 22px;
            height: 4px;
            border-radius: 1px;
        }
        &.menu-close{
            span.icon-bar{
                display: block;
                -ms-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                top: 10px;
                position: absolute;
                background: #000;
            }
            span.icon-bar:nth-child(3){
                -ms-transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                display: block;
            }
            span.icon-bar:nth-child(2) {
               display: none;
            }
        }
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        &.collapse {
            display: none;
            height: auto!important;
            padding-bottom: 0;
            overflow: visible!important;
        }
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
        &>li {
            float: none;
        }
        &>li>a {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .open .dropdown-menu {
            position: relative;
            width: 100%;
            display: block;
            min-width: 160px;
            padding: 0 !important;
            margin: 15px 0 !important;
            font-size: 14px;
            border: none;
            border-radius: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
            background-clip: padding-box;
            &>li>a {
                display: block;
                padding: 10px 20px !important;
                border-bottom: 1px solid #ccc;
                line-height: 1.42857;
                white-space: nowrap;
            }
        }
    }

}

@media (max-width: 600px) {
    .ilo-header {
        #containerMenu {
            .menu-tools-top {
                padding: 15px 15px 0;
                .submenu-icon {
                    display: block;
                }
                .social-network {
                    display: none;
                    margin: 0 15px 0 0;
                    padding-right: 35px;
                    li {
                        padding-right: 7px;
                        a {
                            color: $menu-item;
                            &:hover {
                                color: $color03;
                            }
                        }
                    }
                }
            }
        }
    }
}
