<div class="col-xs-12 nopadding container-header">
    <div id="containerMenu" bs-affix data-offset-top="100">
        <div class="logoOSHA">
            <a href="https://osha.europa.eu" role="button">
                <img  src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/dvt-framework/static/custom/img/EU-OSHA-en.png" alt="European Agency for Safety and Health at Work">
            </a>

            <img id="EUico" src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/dvt-framework/static/custom/img/europeLogo.png" alt="Europe logo">
        </div>

        <div class="mainMenu">
            <nav id="main-menu" class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#osha-menu-collapse" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse pull-right" id="osha-menu-collapse">
                        <ul class="nav navbar-nav">
                            <!--<li>-->
                            <!--<a ui-sref="home" role="button">-->
                            <!--<span>Home</span>-->
                            <!--</a>-->
                            <!--</li>-->
                            <li ng-repeat="level0 in structure">
                                <a ng-if='level0.levels && level0.target' class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" target="_self" aria-expanded="false">
                                    <span ng-class="isCurrentSection('{{ level0.id }}')" data-ng-bind-html="level0.name"></span>
                                    <span class="caret"></span>
                                </a>
                                <a ng-if='level0.levels && level0.sref' ui-sref= '{{ level0.sref}}'
                                   class="dropdown-toggle {{level0.class}}"
                                   data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span ng-class="isCurrentStateMenu('{{ level0.id }}')" data-ng-bind-html="level0.name"></span>
                                    <span class="caret"></span>
                                </a>
                                <a ng-if='!level0.levels && level0.sref' ui-sref='{{ level0.sref}}' accesskey="{{level0.accesskey}}">
                                    <span ng-class="isCurrentStateMenu('{{ level0.id }}')" data-ng-bind-html="level0.name"></span>
                                </a>
                                <ul class="dropdown-menu" ng-if="level0.levels">
                                    <li>
                                        <a ng-if="level1.target" target="{{level1.target}}" id="{{level1.id }}"
                                           ng-repeat="level1 in level0.levels">
                                            <span ng-class="isCurrentStateMenu('{{ level1.id }}')" data-ng-bind-html="level1.name"></span>
                                        </a>
                                        <a ng-if="level1.sref" ui-sref='{{ level1.sref }}' id='{{ level1.id }}'
                                           ng-repeat="level1 in level0.levels" accesskey="{{level1.accesskey}}">
                                            <span ng-class="isCurrentStateMenu('{{ level1.id }}')" data-ng-bind-html="level1.name"></span>
                                        </a>
                                    </li>
                                    <!--<li role="separator" class="divider"></li>-->
                                    <!--<li><a class="disabled" id="evolution" target="_self">Evolution</a></li>-->
                                </ul>
                            </li>
                        </ul>
                    </div>
            </nav>
        </div>

        <pre ng-show="false">{{  structure | json }}</pre>

    </div>

    <div data-ng-if="isHome" id="home-cover" class="nopadding">
        <a ui-sref="home" role="button" title="Access to Home page">
            <div class="container">
                <p class="title-banner">Safer and healthier work at any age</p>
            </div>
        </a>
    </div>

    <div data-ng-if="!isHome" id="not-home-cover" class="nopadding">
        <a ui-sref="home" role="button" title="Access to Home page">
            <div class="container">
                <p class="title-banner">Safer and healthier work at any age</p>
            </div>
        </a>
    </div>

    <!--
        social media widget
     -->
    <div class="col-xs-12 col-md-12  titleAndWidget">
            <p class="path col-xs-12 col-sm-8 col-md-8 col-lg-9" data-ng-bind-html="breadCrumb" id="breadCrumbs">Home</p>
            <div class="socialWidget col-xs-12 col-sm-4 col-md-4 col-lg-3">

                <div class="a2a_kit a2a_default_style">
                    <span class="labelShare" data-ng-bind="titleS.shareThis"></span>

                    <a
                       class="a2a_button_twitter"
                       socialshare
                       socialshare-provider="twitter"
                       socialshare-text="{{title}}"
                       socialshare-url="{{pathURLDVT}}"></a>

                    <a
                       class="a2a_button_facebook"
                       socialshare
                       socialshare-provider="facebook"
                       socialshare-url="{{pathURLDVT}}"></a>

                    <a
                       class="a2a_button_linkedin"
                       socialshare
                       socialshare-provider="linkedin"
                       socialshare-url="{{pathURLDVT}}"></a>

                    <a
                       class="a2a_button_google_plus"
                       socialshare
                       socialshare-provider="google"
                       socialshare-url="{{pathURLDVT}}"></a>

                    <a class="a2a_button_print" onclick="window.print()"></a>
                </div>


            </div>
            <h1 class="page-header text-center">
                <span data-ng-bind-html="title"></span>&nbsp;
                <a ui-sref="methodology({'anchor': anchorPath})">
                    <i data-ng-class="hideLinkMethodology()" title="About this section" class="fa fa-question-circle smaller-font cursor-pointer" aria-hidden="true" >&nbsp;&nbsp;&nbsp;</i>
                </a>
            </h1>
    </div>
</div>
